@mixin text($fontFamily, $fontSize, $fontColor) {
  font-family: $fontFamily;
  font-size: $fontSize;
  color: $fontColor;
  @content;
}

@mixin display() {
  display: flex;
  flex-direction: column;
  align-items: center;
  @content;
}

* {
  margin: 0;
  box-sizing: border-box;
  text-decoration: none;
}

.page {
  background-color: black;
  height: auto;
}

.header {
  padding-top: 20px;
  text-align: center;
  &__logo {
    width: 300px;
    height: 100px;
  }
}

.main {
  @include display() {
  }
  padding-top: 40px;
  &__form {
    &--input {
      color: white;
      width: 370px;
      height: 30px;
      background-color: black;
      border: 1px solid rgb(8, 226, 215);
    }
  }
  &__cards {
    padding-top: 30px;
    .list {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
      grid-template-rows: 242px 242px 242px 242px 242px;
      list-style: none;
      &__element {
        margin: 0 15px 15px 0;
        background: rgb(19, 190, 202);
        &--image {
          width: 180px;
          height: 180px;
        }
        &--name {
          @include text("Lato", 13px, white);
          padding: 3px 0 2px 10px;
        }
        &--text {
          @include text("Lato", 12px, white);
          padding: 0 0 6px 10px;
        }
      }
    }
  }
}

.cardPage {
  background-color: black;
  height: 100vh;
}

.cardMain {
  padding-top: 40px;
  @include display() {
  }
}

.link {
  @include text("Lato", 13px, rgb(224, 211, 211));
  margin: 0 0 15px 390px;
  &__arrow {
    color: rgb(224, 211, 211);
    width: 16px;
    height: 18px;
  }
}

.card {
  margin-top: 10px;
  width: 450px;
  height: 230px;
  background: rgb(19, 190, 202);
  display: flex;
  flex-direction: row;
  &__message {
    text-transform: uppercase;
    align-self: center;
    text-align: center;
    @include text("Lato", 24px, rgb(15, 155, 96));
  }
  &__image {
    width: 180px;
    height: 180px;
    margin: 25px 25px;
  }
  &__details {
    display: flex;
    flex-direction: column;
    justify-content: center;
    &--name {
      @include text("Lato", 15px, white);
    }
    &--list {
      padding-left: 0;
      text-align: left;
      @include text("Lato", 12px, white);
      .list__point {
        list-style: none;
      }
    }
  }
}
